Django==4.2.7
djangorestframework==3.14.0
djangorestframework-simplejwt==5.3.1
django-cors-headers==4.3.1
python-decouple==3.8
psycopg2-binary==2.9.9
bcrypt==4.1.1
djoser==2.2.2
cloudinary==1.36.0
django-cloudinary-storage==0.3.10
